.demoone{
    color: red;
    border: 2px solid black;
    width: 40%;
    font-size: 30px;
}
.demotwo{
    color: blue;
    border: 2px solid black;
    width: 40%;
    font-size: 30px;
    margin-top: 2px;
}
.demothree{
    color: blue;
    border: 2px solid black;
    width: 40%;
    font-size: 30px;
    margin-top: 2px;
}
.demofour{
    color: blue;
    border: 2px solid black;
    width: 40%;
    font-size: 30px;
    margin-top: 2px;
}
.demofive{
    color: blue;
    border: 2px solid black;
    width: 40%;
    font-size: 30px;
    margin-top: 2px;
}
.demosix{
    color: blue;
    border: 2px solid black;
    width: 40%;
    font-size: 30px;
    margin-top: 2px;
}
.demoseven{
    color: blue;
    border: 2px solid black;
    width: 40%;
    font-size: 30px;
    margin-top: 2px;
}
.demoeight{
    color: blue;
    border: 2px solid black;
    width: 40%;
    font-size: 30px;
    margin-top: 2px;
}
.demonine{
    color: blue;
    border: 2px solid black;
    width: 40%;
    font-size: 30px;
    margin-top: 2px;
}
.demoten{
    color: blue;
    border: 2px solid black;
    width: 40%;
    font-size: 30px;
    margin-top: 2px;
}